---
layout: default
---

<div class="home">

  <div class="row">
    <div class="col-md-6">

      <h2 class="page-heading">Previous Episodes</h2>

      <ul class="post-list">
        {% for post in paginator.posts %}
          <li>
            <h3>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h3>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span> -
            {{ post.excerpt | strip_html }}
          </li>
        {% endfor %}
      </ul>

      <p class="pagination">
          {% if paginator.next_page %}
            <a class="prev" href="{{paginator.next_page_path}}">&larr; Older</a>
          {% endif %}
          {% if paginator.previous_page %}
          <a class="next" href="{{paginator.previous_page_path}}">Newer &rarr;</a>
          {% endif %}
      </p>
  </div>
  <div class="col-md-6">
      {% include sidebar.html %}
  </div>

</div>
