{% if page.filename %}

    <p><em>If you want to listen to the audio version (which might have actually been edited a bit and have better sound quality) then subscribe to our <a href="pcast://feeds.feedburner.com/phptownhall/drDl">podcast RSS feed</a> in iTunes or whichever podcast app you use.</em></p>

    <p><em>Alternatively, feel free to listen to <a href="http://download.phptownhall.com/{% if page %}{{ page.filename }}{% else %}{{ page.filename }}{% endif %}.mp3">download this episode</a>, or listen in-browser:</em></p>

    <div>
    	<audio controls>
    	   <source src="http://download.phptownhall.com/{% if page %}{{ page.filename }}{% else %}{{ page.filename }}{% endif %}.mp3" />
    	   <source src="http://download.phptownhall.com/{% if page %}{{ page.filename }}{% else %}{{ page.filename }}{% endif %}.ogg" />
    	</audio>
    </div>

{% else %}
    <p><em>The audio is not quite ready yet, which might mean you found this URL through our <a href="/feed.xml">generic RSS feed</a>. Why not shove our <a href="pcast://feeds.feedburner.com/phptownhall/drDl">podcast RSS feed</a> into iTunes, or whichever podcast app you use to get the audio when it comes out.</em></p>
{% endif %}
