<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-3">
        <p>You can find us on:</p>
        <ul class="social-media-list">
          {% if site.twitter_username %}
          <li>
          {% include icon-twitter.html %}
          </li>
          {% endif %}
          {% if site.google_plus_username %}
          <li>
            {% include icon-google-plus.html %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
      <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
