<div class="site-footer">
    <div class="container footer-container">
        <ol class="breadcrumb">
            <li role="presentation">
              <a class="page-link" href="{{ site.baseurl }}">Home</a>
            </li>
            {% for my_page in site.pages %}
              {% if my_page.title %}
              <li role="presentation">
                <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
              </li>
              {% endif %}
            {% endfor %}
        </ol>

        <p>&copy; PHP Town Hall 2012-2016. All Rights Reserved.</p>
    </div>
</div>
