<div class="well feeds">
    <h2>Need more Town Hall?</h2>
    <!-- We stole this code right off of phproundtable.com. Just like that vermouth -->
    <p class="lead">Subscribe to the PHP Town Hall using your favorite podcast app.</p>
    <div class="row">
        <div class="col-sm-6">
            <a href="{{ "/itunes.rss" | prepend: site.baseurl }}" class="btn btn-primary btn-lg btn-block" target="_blank"><i class="fa fa-music"></i> iTunes</a>
        </div>
        <div class="col-sm-6">
            <a href="{{ "/feed.xml" | prepend: site.baseurl }}" class="btn btn-warning btn-lg btn-block" target="_blank"><i class="fa fa-rss"></i> RSS Feed</a>
        </div>
    </div>
</div>
