/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-light;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;
    background: rgb(29,29,30);
    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    margin-bottom: 0;

    img {
      height: 150px;
    }
}

.slogan {
  color: $grey-color-light;
  font-size: 15px;
}
@media (min-width: 768px) {
  .navbar-right {
    margin: 10px 20px;
  }
  .slogan {
    clear: right;
    text-align: right;
    margin: 30px 0 0;
  }
}
@media (min-width: 380px) {
  .slogan {

    margin: 30px 0 0;
  }
}

.site-nav {
    float: right;
    padding-right: 10px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $grey-color-dark;
        background-color: #E7E7E7;
        line-height: $base-line-height;
        margin: 5px;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    text-align: center
}




/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
